@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@*<h2>ForgotPassword</h2>

<div class="main-page login-page ">
    <h3 class="title1">SignIn Page</h3>
    <div class="widget-shadow">
        <div class="login-top">
            <h4>
                Welcome back to Novus AdminPanel ! <br> Not a Member?
                <a asp-area="" asp-controller="Account" asp-action="Register">Sign Up »</a>
            </h4>
        </div>
        <div class="login-body">
            <form>
                <input type="text" class="user" id="email" name="email" placeholder="Enter your email" required="">
                <input type="password" id="password" name="password" class="lock" placeholder="password">
                <input type="button" class="btn btn-success LoginButton" name="Sign In" value="Sign In">
                <div class="forgot-grid">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember me</label>
                    <div class="forgot">
                        <a asp-controller="Account" asp-action="ForgotPassword">forgot password?</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </form>
        </div>
    </div>

    <div class="login-page-bottom">
        <h5> - OR -</h5>
        <div class="social-btn"><a href="#"><i class="fa fa-facebook"></i><i>Sign In with Facebook</i></a></div>
        <div class="social-btn sb-two"><a href="#"><i class="fa fa-twitter"></i><i>Sign In with Twitter</i></a></div>
    </div>
</div>
<script src="~/pagescript/account/forgotpassword.js"></script>
<link href="~/pagestyle/account/forgotpassword.css" rel="stylesheet" />*@





<hr>
@*<div class="container">*@
    <div class="main-page">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
                                <form class="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input id="emailInput" placeholder="email address" class="form-control" type="email" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary  forgotpassword" value="Send My Password" type="button">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/pagescript/account/forgotpassword.js"></script>
<link href="~/pagestyle/account/forgotpassword.css" rel="stylesheet" />