.btn-primary:hover {
    border-color: #E74225 !important;
    background: #E74225 !important;
}

.forgotpassword
{
border: none;
outline: none;
cursor: pointer;
color: #fff;
background: #6164C1;
width: 100%;
padding: 0.5em 0.5em;
font-size: 1em;
margin: 0.5em 0 0;
}

.emailbox
{
font-size: 0.9em;
padding: 10px 15px 10px 37px;
width: 100%;
color: #A8A8A8;
outline: none;
border: 1px solid #D3D3D3;
background: #FFFFFF;
margin: 0em 0em 1.5em 0em;
}
